html {
  scroll-behavior: smooth;
}

/*main*/

.blogs {
  width: 70%;
  font-size: 1rem;
}

.article__img {
  margin-top: 3em;
  max-width: 100%;
}

.article__title {
  padding: 1em 0;
  color: #333e5b;
  font-size: 1.75em;
  font-weight: 600;
}

.article__description {
  padding-bottom: 3em;
  color: #1a2139;
  text-align: justify;
  text-indent: 2em;
  line-height: 1.5em;
}