html {
  scroll-behavior: smooth;
}

.blogs {
  width: 70%;
}

.popular {
  width: 25%;
  float: right;
  padding: 3rem 0 0 1rem;
  color: #798190;
}

.popular h1 {
  font-size: 1.75rem;
  text-align: center;
  padding-bottom: 1rem;
}

.popular__title {
  display: block;
  padding: 2em 0 1.5rem;
  border-bottom: 1px solid rgba(157, 150, 131, 0.7);
}

.popular__title:last-child {
  border-bottom: none;
}

.popular__link {
  display: inline-block;
}

.popular__img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  padding-right: 0.75em;
}

.popular__item {
  width: calc(100% - 6rem);
  display: inline-block;
  text-decoration: none;
  vertical-align: top;
  color: #798190;
}

.article__img {
  margin-top: 3rem;
  max-width: 100%;
}

.article__title {
  padding: 1em 0;
  color: #333e5b;
  font-size: 1.75em;
  font-weight: 600;
}

.article__description {
  padding-bottom: 3em;
  color: #1a2139;
  text-align: justify;
  text-indent: 2em;
  line-height: 1.5em;
}