@import "colors.css";

/* **main** */
.blogs {
  width: 70%;
  font-size: 1rem;
}

.article {
  padding-top: 2.9rem;
}

.article__img {
  margin-top: 2.5em;
  max-width: 75%;
  transform: translateX(16.67%);
}

.article__title,
.article__subtitle {
  padding: 1em 0;
  color: var(--mutedBlue);
  font-size: 1.75em;
  font-weight: 600;
}

.article__subtitle {
  font-size: 1.25em;
}

.article__description {
  color: var(--darkBlue);
  text-align: justify;
  text-indent: 2em;
  line-height: 1.5em;
}

.article__items {
  list-style: none;
  padding: 0.5em 0 0 1em;
}

.article__item {
  color: var(--grayBlue);
  line-height: 1.25rem;
  margin-bottom: 1rem;
}

.article__item:before {
  content: "\e876";
  position: relative;
  top: 0.2em;
  left: -0.375em;
  padding: 0.25em;
  color: var(--scarlet);
  font-family: "Material Icons", fantasy;
  background-color: rgba(157, 150, 131, 0.1);
  border-radius: 50%;
}

.hide-content {
  display: none;
}

.open {
  display: block;
}

/** @media **/
@media (max-width: 62rem) {
  .blogs {
    max-width: 65%;
    margin: 3em 0;
  }

  .article__img {
    margin-top: 1.5em;
  }
}

@media (max-width: 48rem) {
  .blogs {
    max-width: 100%;
    width: 100%;
    margin-bottom: -2rem;
  }

  .popular-head {
    margin-top: 2em;
  }

  .button-show {
    margin-bottom: 2em;
  }
}