main {
  font-family: 'Roboto', sans-serif;
}

#company-overview {
  text-align: center;
  background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url(../img/background/inside_02.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.section-intro {
  font-size: 4rem;
  font-weight: 600;
  color: #FFF;
  text-transform: uppercase;
  padding: 10rem 0 10rem;
}

