.serv-items {
  margin-top: 3.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 1rem;
}

.serv-item {
  width: 30%;
}

.serv-item__rectangle {
  width: 100%;
  padding-top: 55%;
  position: relative;
}

.serv-item__picture {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.serv-item__name {
  margin: 1em 0 1em;
  color: #1a2139;
}

.serv-item__description {
  margin-bottom: 4em;
  color: #333e5b;
  line-height: 1.5em;
}