@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/*general*/

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.content {
  max-width: 90rem;
  margin: 0 auto;
  cursor: default;
}

.clear {
  clear: both;
}

/*header*/

.main-header {
  position: fixed;
  width: 100%;
  background-color: #333e5b;
  box-shadow: 0 0 1.5rem 0 #1a2139;
}

.main-header__brand {
  display: inline-block;
  margin: 0.5rem;
  vertical-align: middle;
}

.main-header__logo {
  width: 5rem;
}

.main-nav {
  width: calc(100% - 6.25rem);
  display: inline-block;
  vertical-align: middle;
  text-align: right;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  margin: 0.5rem 1rem;
  display: inline-block;
  padding: 0.2rem 0;
}

.main-nav__link {
  color: #FFF;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.5s;
}

.main-nav__link:hover {
  color: #f73a18;
}

.main-nav__item--cta {
  margin: 0;
  padding: 0.5rem;
  background-color: #f73a18;
  border: 1px solid #9d9683;
  border-radius: 5px;
}

/*page-header*/

.page-header {
  padding: 2rem 0 2rem;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/background/bg_head.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.page-header__home {
  color: #9d9683;
  font-weight: 500;
  text-decoration: none;
}

.page-header__sep,
.page-header__title {
  color: #FFF;
}

.page-header__name {
  padding: 2rem 0 2rem;
  color: #FFF;
  font-size: 2.5rem;
  text-transform: uppercase;
}

/*footer*/

.footer {
  background-color: #1a2139;
  text-align: left;
}

.footer__logo {
  padding: 1rem 1rem 1rem 0;
  transition: 0.7s;
}

.footer__logo:hover {
  transform: scale(1.03);
  transition: 0.5s;
}

.footer__logo:active {
  transform: none;
}

.footer__description {
  padding: 1rem 1rem 1rem 0;
  color: #9d9683;
  font-style: italic;
}

.footer__company,
.footer__services,
.footer__contacts {
  max-width: 33.3%;
}

.footer__services-title {
  padding: 1rem 0 1rem;
  color: #FFF;
  text-transform: uppercase;
}

.footer__service-items,
.footer__contact-items {
  list-style: none;
}

.footer__service-item {
  margin-top: 1rem;
}

.footer__link {
  color: #9d9683;
  text-decoration: none;
  transition: color 0.5s;
}

.footer__link:hover {
  color: #f73a18;
}

.footer__contact-item {
  padding-top: 0.9rem;
  color: #FFF;
}

.footer__messengers {
  text-align: center;
}

.footer__messengers a {
  display: inline-block;
}

.footer__social {
  width: 3em;
  margin: 1em;
  border-radius: 50%;
  box-shadow: none;
  transition: box-shadow 1s;
}

.footer__social--Viber:hover {
  box-shadow: 0 0 1em 0.2em #7360f2;
  transition: 0.4s;
}

.footer__social--Telegram:hover {
  box-shadow: 0 0 1em 0.2em #24a1de;
  transition: 0.4s;
}

.footer__social--Instagram:hover {
  box-shadow: 0 0 1em 0.2em #c9398f;
  transition: 0.4s;
}

.footer__social:active {
  transform: scale(0.9);
  box-shadow: none;
}

.footer__main-block {
  display: flex;
  justify-content: space-between;
  padding-top: 2.5rem;
}

.footer__market {
  display: flex;
  justify-content: center;
  border-top: 1px solid #9d9683;
  border-bottom: 1px solid #9d9683;
}

.footer__app {
  margin: 2.5rem 1rem 2.5rem 1rem;
}

.footer__app img {
  transform: none;
  box-shadow: none;
  transition: 0.5s;
}

.footer__app img:hover {
  box-shadow: 0 0 0.5em 0 #FFF;
  /*transition: 0.4s;*/
}

.footer__app img:active {
  transform: scale(0.97);
  box-shadow: none;
}

.footer__copyright {
  color: #9d9683;
  text-align: center;
}

.footer__copyright {
  padding: 1rem 0 1.5rem;
}

/*aside*/

.popular {
  width: 25%;
  float: right;
  padding: 3rem 0 0 1rem;
  color: #798190;
  font-size: 1rem;
}

.popular h1 {
  padding-bottom: 1em;
  text-align: center;
  font-size: 1.75em;
}

.popular__title {
  display: block;
  padding: 2em 0 1.5em;
  border-bottom: 1px solid rgba(157, 150, 131, 0.7);
}

.popular__title:last-child {
  border-bottom: none;
}

.popular__link {
  display: inline-block;
}

.popular__img {
  width: 5em;
  height: 5em;
  padding-right: 0.75em;
  object-fit: cover;
}

.popular__item {
  width: calc(100% - 6em);
  display: inline-block;
  vertical-align: top;
  color: #798190;
  text-decoration: none;
}