.towing {
  text-align: center;
}

.background-car {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/background/car-road.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: fixed;
  background-size: cover;
  font-size: 1rem;
}

.page-header__inner {
  padding-top: 7em;
}

.towing__title {
  padding: 5em 0 5em;
  color: #FFF;
  font-weight: 400;
}

.towing__header {
  font-size: 2em;
  font-weight: 600;
  text-transform: uppercase;
}

.towing__target {
  font-size: 1.5em;
  font-weight: 500;
}

.towing__item,
.towing__svg-star {
  display: inline-block;
  text-align: center;
}

.towing__item {
  max-width: 28%;
  padding: 0 1em 3em;
  color: #FFF;
  vertical-align: top;
}

.towing__svg-star {
  height: 1.5em;
}

.towing__svg {
  height: 2em;
  text-align: center;
}

.towing__sub-title {
  padding: 0.375em 0 0.375em;
  font-size: 1.25em;
}

.towing__sub-item {
  line-height: 1.25em;
}

.assistance,
.roadside {
  background-color: #FFF;
  padding-bottom: 3rem;
  font-size: 1rem;
}

.assistance__header,
.roadside__header {
  padding: 1em 0 0.75em;
  color: #333e5b;
  font-size: 2.25em;
  text-align: center;
}

.assistance__content,
.roadside__content {
  padding: 0.375em 0;
  color: #798190;
  font-size: 1.125em;
  text-indent: 2em;
  line-height: 1.5em;
}

.services {
  text-align: center;
}

.services__header {
  padding-top: 1em;
  color: #FFF;
  font-size: 2.25em;
  text-align: center;
}

.services__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1em 0 2em;
  color: #FFF;
  font-size: 1.25em;
  font-weight: 500;
  list-style: none;
  text-align: left;
}

.services__item {
  padding: 0.5em 0;
  width: 28%;
}

.services__button {
  margin: -2em 0 2em;
}

.roadside__img {
  max-width: 60%;
  box-shadow: 0 0.625em 1.6em 0 rgba(0, 0, 0, 0.3);
}

.roadside__img--position-right {
  float: right;
  margin-left: 1em;
}

.roadside__img--position-left {
  display: inline-block;
  margin: 5em 1em 2em 0;
}

.roadside__content--position-right {
  margin-top: 5em;
  display: inline-block;
  width: 36%;
  vertical-align: top;
}

/** *@media** */
@media (max-width: 48rem) {
  .towing__title {
    padding: 4em 0 3em;
  }

  .towing__header {
    font-size: 1.5em;
  }

  .towing__target {
    font-size: 1.25em;
  }

  .towing__item {
    max-width: 100%;
  }

  .services__item {
    width: 49%;
  }

  .roadside {
    padding-bottom: 1em;
  }

  .assistance__header,
  .roadside__header {
    padding: 1em 0 0.75em;
    font-size: 1.75em;
  }

  .roadside__img {
    max-width: 100%;
    box-shadow: 0 0.625em 1.6em 0 rgba(0, 0, 0, 0.3);
    margin: 0.5em 0 2em 0;
  }

  .roadside__img--position-right {
    float: none;
  }

  .roadside__content--position-right {
    margin: 0;
    width: 100%;
  }

  .roadside__content {
    padding-bottom: 2em;
  }
}

@media (max-width: 36rem) {
  .services__item {
    width: 98%;
  }
}