main {
  font-family: 'Roboto', sans-serif;
}

.towing {
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/background/car_03.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.page-header__inner {
  padding-top: 2rem;
}

.towing__title {
  padding: 5rem 0 5rem;
  color: #FFF;
  font-size: 3rem;
  font-weight: 400;
}

.towing__header {
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
}

.towing__target {
  font-size: 2.25rem;
  font-weight: 500;
}

.towing__item {
  display: inline-block;
  width: 28%;
  padding: 0 1rem 3rem;
  color: #FFF;
  text-align: center;
  vertical-align: top;
}

.towing__svg-star {
  display: inline-block;
  height: 1.5em;
  text-align: center;
}

.towing__svg {
  height: 2em;
  text-align: center;
}

.towing__sub-title {
  padding: 0.375em 0 0.375em;
  font-size: 1.25em;
}

.towing__sub-item {
  line-height: 1.25rem;
}