main {
  font-family: 'Roboto', sans-serif;
}

.towing {
  text-align: center;
}

.background-car {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/background/car-road.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 1rem;
}

.page-header__inner {
  padding-top: 2em;
}

.towing__title {
  padding: 5em 0 5em;
  color: #FFF;
  font-weight: 400;
}

.towing__header {
  font-size: 2em;
  font-weight: 600;
  text-transform: uppercase;
}

.towing__target {
  font-size: 1.5em;
  font-weight: 500;
}

.towing__item {
  display: inline-block;
  width: 28%;
  padding: 0 1em 3em;
  color: #FFF;
  text-align: center;
  vertical-align: top;
}

.towing__svg-star {
  display: inline-block;
  height: 1.5em;
  text-align: center;
}

.towing__svg {
  height: 2em;
  text-align: center;
}

.towing__sub-title {
  padding: 0.375em 0 0.375em;
  font-size: 1.25em;
}

.towing__sub-item {
  line-height: 1.25em;
}

.assistance,
.roadside {
  background-color: #FFF;
  padding-bottom: 3rem;
  font-size: 1rem;
}

.assistance__header,
.roadside__header {
  padding: 1em 0 0.75em;
  color: #333e5b;
  font-size: 2.25em;
  text-align: center;
}

.assistance__content,
.roadside__content {
  padding: 0.375em 0;
  color: #798190;
  font-size: 1.125em;
  text-indent: 2em;
  line-height: 1.5em;
}

.services {
  /*background-color: #9d9683;*/
}

.services__header {
  padding-top: 1em;
  color: #FFF;
  font-size: 2.25em;
  text-align: center;
}

.services__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1em 0 2em;
  color: #FFF;
  font-size: 1.25em;
  font-weight: 500;
  list-style: none;
}

.services__item {
  padding: 0.5em 0;
  width: 28%;
}

.roadside__img {
  width: 60%;
  box-shadow: 0 0.625em 1.6em 0 rgba(0, 0, 0, 0.3);
}

.roadside__img--position-right {
  float: right;
  margin-left: 1em;
}

.clear {
  clear: both;
}

.roadside__img--position-left {
  display: inline-block;
  margin: 5em 1em 2em 0;
}

.roadside__content--position-right {
  margin-top: 5em;
  display: inline-block;
  width: 36%;
  vertical-align: top;
}